.container {
    min-height: 30vh;
    background: #f5f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 61px auto;
    border-radius: 12px;
}

.chats {
    align-items: flex-start;
    flex-direction: column;
}

hr {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}